<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://mustopa28121992.github.io/projectt/img/fox--md5--a9e377ae39495073d0e66db163fc8d9b.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Hacktiv Animal</title>
  </head>
  <body>
    <!--Navbar-->
    <nav>
      <div class="nav-left">
        <img
          src="https://mustopa28121992.github.io/projectt/img/fox--md5--a9e377ae39495073d0e66db163fc8d9b.png"
          alt="logo"
        />
        <h1>Animal Lover</h1>
      </div>
      <div class="nav-center">
        <a href="#">My Favorites</a>
      </div>
      <div class="nav-right">
        <button>Logout</button>
      </div>
    </nav>
    <!--Login-->
    <div class="login-container">
      <div class="left-login-page">
        <h3>Please Login First</h3>
        <form>
          <input
            class="input-form"
            type="email"
            placeholder="your email here"
            required
          />
          <input
            class="input-form"
            type="password"
            placeholder="your password here"
            required
          />
          <button type="submit">Login</button>
        </form>
      </div>
      <div class="right-login-page">
        <h1>Welcome to Animal Lovers</h1>
        <img src="./assets/login.png" alt="login image" />
      </div>
    </div>
    <!--Home-->
    <div class="home-container">
      <div class="card">
        <div class="card-image">
          <img
            src="https://a-z-animals.com/media/animals/images/470x370/red_panda5.jpg"
            alt="card image"
          />
        </div>
        <div class="card-body">
          <h3>Red Panda</h3>
          <p>There are less than 3,000 left in the wild!</p>
        </div>
        <button>Add To Favorites</button>
      </div>
      <div class="card">
        <div class="card-image">
          <img
            src="https://a-z-animals.com/media/animals/images/470x370/koala9.jpg"
            alt="card image"
          />
        </div>
        <div class="card-body">
          <h3>Koala</h3>
          <p>Spends up to 80% of the time sleeping or resting!</p>
        </div>
        <button>Add To Favorites</button>
      </div>

      <div class="card">
        <div class="card-image">
          <img
            src="https://a-z-animals.com/media/animals/images/470x370/arctic_fox_11.jpg"
            alt="card image"
          />
        </div>
        <div class="card-body">
          <h3>Artic Fox</h3>
          <p>Extremely thick winter fur!</p>
        </div>
        <button>Add To Favorites</button>
      </div>
    </div>

    <!--Favorites-->
    <div class="favorite">
      <h1>My Favorites Animals</h1>
    </div>
    <div class="favorite-container">
      <div class="card">
        <div class="card-image">
          <img
            src="https://a-z-animals.com/media/animals/images/470x370/arctic_fox_11.jpg"
            alt="card image"
          />
        </div>
        <div class="card-body">
          <h3>Artic Fox</h3>
          <p>Extremely thick winter fur!</p>
        </div>
        <button class="delete-btn">remove</button>
      </div>
    </div>
  </body>
</html>
